body {
  background-image: linear-gradient(rgb(69, 69, 255), pink);
  background-attachment: fixed;
  height: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.356);
}

h2,h3 {
  font-family: 'Lobster', cursive;
}

em {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

button {
  width: 100%;
}

.btn-custom {
  border-radius: 20px;
}

.btn-custom-sm {
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.card {
  width: 70%;
  background-color: rgba(207, 216, 220, 0.651);
  border-radius: 25px;
  padding: 30px;
  border: none;
  margin-bottom: 30px;
}

#beer-image {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.tap-card {
  width: 100%;
  margin-top: 10px;
}

#sell-button {
  justify-content: center;
  height: 80%;
  margin-top: 15px;
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
  border: none;
}

#sell-button:hover {
  color: rgb(2, 180, 2);
}

#sell-button:active{
  background-color: rgba(2, 180, 2, 0.404);
  color: white;
}

.status {
  color: red;
  font-weight: bold;
}

#sell-button-img {
  width: 45%;
}